language: android
sudo: false
jdk: oraclejdk8
android:
  components:
    - tools
    - platform-tools
    - build-tools-24.0.3
    - build-tools-27.0.1
    - android-24
    - android-26
    - android-27
    - extra-android-support
    - extra-android-m2repository
script:
  ./gradlew build

